// 厂房设备
@import 'common.scss';
@import 'flex.scss';

.wrap-equipemnt-intro {
  @include max-width();
  margin-top: 80px;
  li {
    @include col-3();
  img {
        max-width: 100%;
        cursor: pointer;
    }
    p {
      padding: 8px 0;
      font-size: 12px;
      text-align: center;
    }
  }
}