footer {
    margin-top: 50px;
    clear: both;
    background: rgba(0, 107, 70, .9);
    padding: 50px 0;
    ul {
        max-width: 1200px;
        margin: 0 auto;
    }
    .item {
       float: left;
       margin-right: 100px;
       &>a {
            display: block;
            font-size: 14px;
            line-height: 25px;
            color: #FFF;
            text-decoration: none;
       }
    }
    li {
        list-style: none;
    }
}
