footer {
    margin-top: 50px;
    clear: both;
    background: rgba(0, 107, 70, .9);
    padding: 50px 0;
    color: #FFF;
    font-size: 14px;
    ul {
        max-width: 1200px;
        margin: 0 auto;
    }
    .item {
       float: left;
       margin-right: 100px;
       &>a {
            display: block;
            line-height: 25px;
            color: #FFF;
            text-decoration: none;
            box-sizing: border-box;
            &:hover {
                border-bottom: 1px #FFF solid;
            }
       }
    }
    li {
        list-style: none;
    }
    p {
        max-width: 1200px;
        margin: 20px auto 0;
        text-decoration: none;
        a {
            color: #FFF;
            &:hover {
                color: #FFF
            }
            &:visited {
                color: #FFF;
            }
        }
    }
}
