body, ul, li, div, p, header, footer {
    margin: 0;
    padding: 0;
}
.clearfix {
    zoom : 1;
    clear : both;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

