.swiper-container {
    .swiper-button-next, .swiper-button-prev {
        visibility: hidden;
    }
    &:hover {
        .swiper-button-next, .swiper-button-prev {
            visibility: visible;
        }
    }
    .swiper-pagination-bullet {
        background-color: rgba(225, 225, 225, .6);
        &:hover {
            cursor: pointer;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: rgba(225, 225, 225, 1);
    }
}
