<link rel="stylesheet" href="/css/main-content.css?v=1234">
<div class="wrap-section">
    <section class="section-2-col">
        <ul class="clearfix">
            <li class="fl"><img src="http://www.zymbo.cn/images/con_block1_pic1.png" alt=""></li>
            <li class="fr">
                <h1>科技</h1>
                <h2>驾驭家庭气候</h2>
                <p>为了体现公司“环保、节能、高效、时尚”的产品经营理念，公司在意大利的设计团队，一直致力于提高产品的科技含量，同时捕捉时尚元素，使产品更符合高端市场的需求。深宝空气源热泵热水器，体现“环保、节能、高效、时尚”理念，全方位为用户提供一个长期稳定、恒温舒适、节约能耗的热水生活享受。</p>
            </li>
        </ul>
    </section>
    <section class="section-4-col">
        <ul class="clearfix">
            <li class="fl"><img src="http://www.zymbo.cn/images/con_block1_pic2.png" alt=""></li>
            <li class="fl">
                <h1>创新</h1>
                <h2>缔造品质生活</h2>
                <p>夏天，将室内热量转移到室外，实现制冷功能；冬季，吸收室内外大自然的热量，送到室内实现制热采暖，同时能满足日常生活中所需的热水，简而言之，就是消耗少量的电力来实现热量搬运，从而达到制冷，制热的目的。</p>
            </li>
            <li class="fl"><img src="http://www.zymbo.cn/images/con_block1_pic3.png" alt=""></li>
            <li class="fl">
                <h1>专注</h1>
                <h2>精益求精的执着</h2>
                <p>夏天，将室内热量转移到室外，实现制冷功能；冬季，吸收室内外大自然的热量，送到室内实现制热采暖，同时能满足日常生活中所需的热水，简而言之，就是消耗少量的电力来实现热量搬运，从而达到制冷，制热的目的。</p>
            </li>
        </ul>
    </section>
</div>
