<div class="wrap-equipemnt-intro">
  <ul class="clearfix">
    <li class="fl">
      <img src="http://www.zymbo.cn/images/addimages/4.12_gai_002.JPG" alt="">
      <p class="title">中山深惠智能科技设备有限公司</p>
    </li>
    <li class="fl">
      <img src="http://www.zymbo.cn/images/addimages/4.12_gai_002.JPG" alt="">
      <p class="title">中山深惠智能科技设备有限公司</p>
    </li>
    <li class="fl">
      <img src="http://www.zymbo.cn/images/addimages/4.12_gai_002.JPG" alt="">
      <p class="title">中山深惠智能科技设备有限公司</p>
    </li>
    <li class="fl">
      <img src="http://www.zymbo.cn/images/addimages/4.12_gai_002.JPG" alt="">
      <p class="title">中山深惠智能科技设备有限公司</p>
    </li>
  </ul>
</div>