<footer>
    <link rel="stylesheet" href="/css/footer.css?v=1234">
    <ul class="clearfix">
        <li class="item">
            <a href="">公司简介</a>
            <a href="">公司介绍</a>
            <a href="">组织架构</a>
            <a href="">办公环境</a>
            <a href="">专利证书</a>
        </li>
        <li class="item">
            <a href="">产品介绍</a>
            <a href="">厂房设备</a>
        </li>
        <li class="item">
            <a href="">新闻资讯</a>
            <a href="">工程案例</a>
        </li>
        <li class="item">
            <a href="">人力资源</a>
            <a href="">下载中心</a>
        </li>
        <li class="item">
            <a href="">联系我们</a>
            <a href="">客户留言</a>
            <a href="">联系我们</a>
            </ul>
        </li>
    </ul>
    <p><span>友情链接：</span><a target="_blank" href="http://www.zymbo.cn/">中山深宝电器制造有限公司</a></p>
</footer>
