<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/<%= head.link  %>.css?v=1234345' />
    <link href="http://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet">
</head>
