<!DOCTYPE html>
<html>
  <% include ../component/business/head-util %>
  <body>
    <!-- 头部 -->
    <% include ../component/business/header %>
    <!-- 导航栏 -->
    <% include ../component/business/nav %>
    <!-- 轮播图 -->
    <% include ../component/business/swiper %>
    <!-- 公司内容介绍 -->
    <% include ../component/business/company-info/company-intro %>
    <!-- 页脚 -->
    <% include ../component/business/footer %>
    <!-- 版权 -->
    <% include ../component/business/copyright %>
    <!-- CDN -->
    <% include ../component/business/script-util %>
  </body>
</html>
