<!DOCTYPE html>
<html>
  <% include ../component/business/head-util %>
  <body>
    <!-- 头部 -->
    <% include ../component/business/header %>
    <!-- 导航栏 -->
    <% include ../component/business/nav %>
    <!-- 页脚 -->
    <% include ../component/business/footer %>
    <!-- 版权 -->
    <% include ../component/business/copyright %>
    <% include ../component/business/script-util %>
  </body>
</html>
